@theme {
  /* Primary Colors */
  --color-primary: rgb(192 132 252);
  --color-primary-light: rgb(216 180 254);
  --color-primary-dark: rgb(192 132 252);
  --color-primary-transparent: rgba(192 132 252, 0.75);

  /* Secondary Colors */
  --color-secondary: #FCA5A5;
  --color-secondary-light: #FECACA;
  --color-secondary-dark: #F9C851;
  --color-secondary-transparent: rgba(252, 165, 165, 0.75);

  /* Success Colors */
  --color-success: #4caf50;
  --color-success-light: #80e27e;
  --color-success-dark: #087f23;
  --color-success-transparent: rgba(76, 175, 80, 0.75);

  /* Info Colors */
  --color-info: #2196f3;
  --color-info-light: #6ec6ff;
  --color-info-dark: #0069c0;
  --color-info-transparent: rgba(33, 150, 243, 0.75);

  /* Warning Colors */
  --color-warning: #ff9800;
  --color-warning-light: #ffc947;
  --color-warning-dark: #c66900;
  --color-warning-transparent: rgba(255, 152, 0, 0.75);

  /* Danger Colors */
  --color-danger: #f44336;
  --color-danger-light: #ff7961;
  --color-danger-dark: #ba000d;
  --color-danger-transparent: rgba(244, 67, 54, 0.75);

  /* Light Colors */
  --color-light: #fafafa;
  --color-light-light: #ffffff;
  --color-light-dark: #c7c7c7;
  --color-light-transparent: rgba(250, 250, 250, 0.75);

  /* Dark Colors */
  --color-dark: #212121;
  --color-dark-light: #484848;
  --color-dark-dark: #000000;
  --color-dark-transparent: rgba(33, 33, 33, 0.75);

  /* Code Colors */
  --color-code: #24292e;
  --color-code-light: #484848;
  --color-code-dark: #000000;
  --color-code-transparent: rgba(36, 41, 46, 0.75);

  /* Cyan Colors */
  --color-cyan: #00bcd4;
  --color-cyan-light: #62efff;
  --color-cyan-dark: #008ba3;
  --color-cyan-transparent: rgba(0, 188, 212, 0.75);

  /* Teal Colors */
  --color-teal: #009688;
  --color-teal-light: #52c7b8;
  --color-teal-dark: #00675b;
  --color-teal-transparent: rgba(0, 150, 136, 0.75);

  /* Purple Colors */
  --color-purple: #9c27b0;
  --color-purple-light: #d05ce3;
  --color-purple-dark: #6a0080;
  --color-purple-transparent: rgba(156, 39, 176, 0.75);

  /* Cyberpunk Colors */
  --color-cyberpunk: #F2E307;
  --color-cyberpunk-light: #F2E307;
  --color-cyberpunk-dark: #F2E307;
  --color-cyberpunk-transparent: rgba(242, 227, 7, 0.75);
}