:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  /* Shadcn UI Theme */
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);

  /* HeroUI Theme */
  --accent: oklch(87.46% 0.0573 18.31);
  --accent-foreground: oklch(15% 0.0115 18.31);
  --background: oklch(97.02% 0.01 18.31);
  --border: oklch(90% 0.01 18.31);
  --danger: oklch(65.32% 0.2375 357.48);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94% 0.01 18.31);
  --default-foreground: oklch(21.03% 0.0059 18.31);
  --field-background: oklch(100% 0.005 18.31);
  --field-foreground: oklch(21.03% 0.0059 18.31);
  --field-placeholder: oklch(55.17% 0.02 18.31);
  --focus: oklch(87.46% 0.0573 18.31);
  --foreground: oklch(21.03% 0.0059 18.31);
  --muted: oklch(55.17% 0.02 18.31);
  --overlay: oklch(100% 0.003 18.31);
  --overlay-foreground: oklch(21.03% 0.0059 18.31);
  --scrollbar: oklch(87.1% 0.01 18.31);
  --segment: oklch(100% 0.01 18.31);
  --segment-foreground: oklch(21.03% 0.0059 18.31);
  --separator: oklch(92% 0.01 18.31);
  --success: oklch(73.29% 0.1974 122.55);
  --success-foreground: oklch(21.03% 0.0059 122.55);
  --surface: oklch(100% 0.005 18.31);
  --surface-foreground: oklch(21.03% 0.0059 18.31);
  --warning: oklch(78.19% 0.1617 44.07);
  --warning-foreground: oklch(21.03% 0.0059 44.07);

  /* Border Radius */
  --radius: 0.5rem;
  --field-radius: 0.75rem;

  /* Font Family */
  /* Make sure to load Inter font in your app */
  --font-sans: var(--font-inter);

  /* Overrides for Fumadocs UI */
  --color-fd-muted: var(--default);
  --color-fd-accent-foreground: var(--default-foreground);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;

  /* Shadcn UI Theme */
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);

  /* HeroUI Theme */
  --accent: oklch(72.16% 0.1767 305.5);
  --accent-foreground: oklch(15% 0.03 305.5);
  --background: oklch(12% 0.01 305.5);
  --border: oklch(28% 0.01 305.5);
  --danger: oklch(59.4% 0.2006 30.83);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.4% 0.01 305.5);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.02 305.5);
  --field-foreground: oklch(99.11% 0 0);
  --field-placeholder: oklch(70.5% 0.02 305.5);
  --focus: oklch(72.16% 0.1767 305.5);
  --foreground: oklch(99.11% 0 0);
  --muted: oklch(70.5% 0.02 305.5);
  --overlay: oklch(21.03% 0.02 305.5);
  --overlay-foreground: oklch(99.11% 0 0);
  --scrollbar: oklch(70.5% 0.01 305.5);
  --segment: oklch(39.64% 0.01 305.5);
  --segment-foreground: oklch(99.11% 0 0);
  --separator: oklch(25% 0.01 305.5);
  --success: oklch(73.29% 0.1974 157.01);
  --success-foreground: oklch(21.03% 0.0059 157.01);
  --surface: oklch(21.03% 0.02 305.5);
  --surface-foreground: oklch(99.11% 0 0);
  --warning: oklch(82.03% 0.1416 82.54);
  --warning-foreground: oklch(21.03% 0.0059 82.54);
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);
  --color-default: var(--default);
  --color-default-foreground: var(--default-foreground);
  --color-field-background: var(--field-background);
  --color-field-foreground: var(--field-foreground);
  --color-field-placeholder: var(--field-placeholder);
  --color-focus: var(--focus);
  --color-overlay: var(--overlay);
  --color-overlay-foreground: var(--overlay-foreground);
  --color-scrollbar: var(--scrollbar);
  --color-segment: var(--segment);
  --color-segment-foreground: var(--segment-foreground);
  --color-separator: var(--separator);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --radius-field: var(--field-radius);
}
