strict-peer-dependencies=false

public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*

hoist-pattern[]=*
hoist-pattern[]=!@swc/core

prefer-workspace-packages=true
