services:
  postgres:
    container_name: chia-postgres-v2
    image: pgvector/pgvector:pg18
    ports:
      - "5434:5432"
    volumes:
      - chia-postgres-v2:/var/lib/postgresql/data/pgdata
    env_file:
      - .env.global
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
      - DEBUG=true

  redis:
    container_name: chia-redis
    image: redis:alpine
    ports:
      - "6380:6379"
    volumes:
      - chia-redis:/data

volumes:
  chia-postgres-v2:
  chia-redis:
