@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .c-container {
    @apply
    container mx-auto
  }

  .c-hover-link {
    @apply
    hover:border-b-2 border-primary transition ease-in-out
  }

  .c-text-primary {
    @apply
    text-black dark:text-white transition ease-in-out
  }

  .c-text-secondary {
    @apply
    text-sec-text dark:text-white transition ease-in-out
  }

  .c-description {
    @apply
    text-lg text-sec-text dark:text-gray-400 transition ease-in-out
  }

  .c-bg-primary {
    @apply
    bg-[#dddddd] text-black dark:text-white dark:bg-black transition ease-in-out
  }

  .c-bg-secondary {
    @apply
    bg-white/80 text-sec-text dark:text-white dark:bg-dark/80 backdrop-blur-sm transition ease-in-out
  }

  .c-border-primary {
    @apply
    border-gray-200 dark:border-gray-800
  }

  .c-text-purple-to-blue {
    @apply
    text-transparent bg-clip-text bg-gradient-to-r from-[#D8B4FE] to-[#818CF8]
  }

  .c-bg-gradient-purple-to-blue {
    @apply
    bg-gradient-to-r from-[#D8B4FE] to-[#818CF8]
  }

  .c-text-purple-to-pink {
    @apply
    text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600
  }

  .c-bg-gradient-purple-to-pink {
    @apply
    bg-gradient-to-r from-purple-400 to-pink-600
  }

  .c-text-green-to-purple {
    @apply
    text-transparent bg-clip-text bg-gradient-to-r from-[#6EE7B7] via-[#3B82F6] to-[#9333EA]
  }

  .c-bg-gradient-green-to-purple {
    @apply
    bg-gradient-to-r from-[#6EE7B7] via-[#3B82F6] to-[#9333EA]
  }

  .c-text-yellow-to-pink {
    @apply
    text-transparent bg-clip-text bg-gradient-to-r from-[#F9C851] via-[#FCA5A5] to-[#FECACA]
  }

  .c-bg-gradient-yellow-to-pink {
    @apply
    bg-gradient-to-r from-[#F9C851] via-[#FCA5A5] to-[#FECACA]
  }

  .c-button-primary {
    @apply
    bg-primary rounded-full drop-shadow-lg text-white hover:bg-secondary transition ease-in-out flex justify-center items-center px-3 py-1
  }

  .c-button-secondary {
    @apply
    bg-white/80 text-sec-text dark:text-white dark:bg-dark/80 backdrop-blur-sm transition ease-in-out rounded-lg px-5 py-3 text-2xl hover:scale-[1.05]
  }

  .footer {
    @apply
    flex py-8 border-t-[1px] border-solid justify-center items-center border-gray-200 dark:border-gray-800 bg-white/80 text-sec-text dark:text-white dark:bg-dark/80 backdrop-blur-sm
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  color: #fff;
  background: #FF9000;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  font-size: 2.5rem;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
