@import "tailwindcss";
@import "fumadocs-ui/css/preset.css";
@import "@chia/tailwind/shadcn-ui.css";
@import "@chia/tailwind/novel.css";
@import "@chia/tailwind/preset.css";

@source "./src/**/*.{js,ts,jsx,tsx}";
@source "../../node_modules/@chia/ui/src/**/*.{js,ts,jsx,tsx}";
@source "../../node_modules/@chia/contents/src/**/*.tsx";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

/* @plugin "@chia/tailwind/animations"
@plugin "@chia/tailwind/animations" {
  disableTailwindAnimation: true
} */

@theme {
  --color-primary: #00e1ff;
  --color-secondary: #ff00e1;
  --color-sec-text: #444444;
  --color-bgPurple: rgba(111,66,193,0.65);
  --color-bgPink: rgba(255,107,237,0.35);
  --color-bgBlue: rgba(117,149,255,0.3)
}

@layer components {
  .animated-feature-cards::before {
    @apply pointer-events-none absolute select-none rounded-2xl opacity-0 transition-opacity duration-300 hover:opacity-100;
    background: radial-gradient(
      1000px circle at var(--x) var(--y),
      #3aecf8 0,
      #5295dc 25%,
      rgba(255, 255, 255, 0) 50%,
      transparent 80%
    );
    z-index: -1;
    content: "";
    inset: -1px;
  }
}

[data-rmiz-modal-overlay="visible"] {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.dark [data-rmiz-modal-overlay="visible"] {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

[data-rmiz-btn-unzoom] {
  visibility: hidden;
}

[data-rmiz-modal-img] {
  border: 1px solid hsl(var(--border));
  border-radius: 8px;
}

:root {
  --fd--background: unset;
}

::selection {
  background: #8884;
}
