@import "@chia/tailwind/shadcn-ui.css";
@import "@chia/tailwind/novel.css";
@import "@chia/tailwind/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .animated-feature-cards::before {
    @apply pointer-events-none absolute select-none rounded-3xl opacity-0 transition-opacity duration-300 hover:opacity-100;
    background: radial-gradient(
      1000px circle at var(--x) var(--y),
      #3aecf8 0,
      #5295dc 25%,
      rgba(255, 255, 255, 0) 50%,
      transparent 80%
    );
    z-index: -1;
    content: "";
    inset: -1px;
  }
}

[data-rmiz-modal-overlay="visible"] {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.dark [data-rmiz-modal-overlay="visible"] {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

[data-rmiz-btn-unzoom] {
  visibility: hidden;
}

[data-rmiz-modal-img] {
  border: 1px solid hsl(var(--border));
  border-radius: 8px;
}

:root {
  /* hsl colors */
  /* use whitespace instead of comma */
  --fd--background: unset;
  --fd--foreground: unset;

  --fd--muted: unset;
  --fd--muted-foreground: unset;

  --fd--popover: unset;
  --fd--popover-foreground: unset;
}

#nd-sidebar {
  display: none;
}

::selection {
  background: #8884;
}
