.g-recaptcha {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    min-height: 73px;
    box-shadow: 0 0 0 1px #a7a7a7;
}

.g-recaptcha > * {
    margin: -2px -2px -10px; /*remove borders*/
}