name: service Docker CI

on:
  pull_request:
    types: [opened, labeled, unlabeled, synchronize]
    paths:
      - "apps/service/**"
      - "packages/db/**"
      - "packages/utils/**"
      - ".github/workflows/service-docker-ci.yml"
      - "package.json"

concurrency:
  group: pull-${{ github.ref }}-service-docker-ci
  cancel-in-progress: true

env:
  APP_CODE: service
  DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  DATABASE_URL: ${{ secrets.DATABASE_URL }}
  BETA_DATABASE_URL: ${{ secrets.BETA_DATABASE_URL }}
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  GIT_HASH: ${{ github.sha }}
  SPOTIFY_CLIENT_ID: ${{ secrets.SPOTIFY_CLIENT_ID }}
  SPOTIFY_CLIENT_SECRET: ${{ secrets.SPOTIFY_CLIENT_SECRET }}
  SPOTIFY_REFRESH_TOKEN: ${{ secrets.SPOTIFY_REFRESH_TOKEN }}
  SPOTIFY_REDIRECT_URI: http://localhost:8080
  REDIS_URI: ${{ secrets.REDIS_URI }}
  REDIS_URL: ${{ secrets.REDIS_URL }}
  ENV: beta
  GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
  GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
  AUTH_SECRET: ${{ secrets.AUTH_SECRET }}
  AUTH_URL: http://localhost:8080

jobs:
  build:
    name: "service docker build"
    runs-on: ubuntu-latest
    timeout-minutes: 15
    if: ${{ (contains(github.event.pull_request.labels.*.name, 'service:docker') || contains(github.event.pull_request.labels.*.name, 'service:enhancement')) && !contains(github.event.head_commit.message, '[skip ci]') }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ env.DOCKERHUB_TOKEN }}
      - name: Set up Docker Builder
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./apps/service/Dockerfile
          push: false
          load: false
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/chia1104-service:${{ env.GIT_HASH }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            DATABASE_URL=${{ env.DATABASE_URL }}
            BETA_DATABASE_URL=${{ env.BETA_DATABASE_URL }}
            TURBO_TEAM=${{ env.TURBO_TEAM }}
            TURBO_TOKEN=${{ env.TURBO_TOKEN }}
            SPOTIFY_CLIENT_ID=${{ env.SPOTIFY_CLIENT_ID }}
            SPOTIFY_CLIENT_SECRET=${{ env.SPOTIFY_CLIENT_SECRET }}
            SPOTIFY_REDIRECT_URI=${{ env.SPOTIFY_REDIRECT_URI }}
            REDIS_URI=${{ env.REDIS_URI }}
            REDIS_URL=${{ env.REDIS_URL }}
            ENV=${{ env.ENV }}
            GOOGLE_CLIENT_ID=${{ env.GOOGLE_CLIENT_ID }}
            GOOGLE_CLIENT_SECRET=${{ env.GOOGLE_CLIENT_SECRET }}
            AUTH_SECRET=${{ env.AUTH_SECRET }}
            AUTH_URL=${{ env.AUTH_URL }}
