name: www Docker CI

on:
  push:
    branches: [ main ]
  pull_request:
    types: [ opened, labeled, unlabeled, synchronize ]
    paths:
      - "apps/www/**"
      - "packages/ui/**"
      - "packages/utils/**"
      - "packages/meta/**"
      - "packages/db/**"
      - ".github/workflows/www-docker.yml"
      - "package.json"

env:
  GH_PUBLIC_TOKEN: ${{ secrets.GH_PUBLIC_TOKEN }}
  NEXT_PUBLIC_RE_CAPTCHA_KEY: ${{ secrets.NEXT_PUBLIC_RE_CAPTCHA_KEY }}
  RE_CAPTCHA_KEY: ${{ secrets.RE_CAPTCHA_KEY }}
  GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
  SPOTIFY_CLIENT_ID: ${{ secrets.SPOTIFY_CLIENT_ID }}
  SPOTIFY_CLIENT_SECRET: ${{ secrets.SPOTIFY_CLIENT_SECRET }}
  SPOTIFY_FAVORITE_PLAYLIST_ID: ${{ secrets.SPOTIFY_FAVORITE_PLAYLIST_ID }}
  DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  SHA_256_HASH: ${{ secrets.SHA_256_HASH }}
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  PNPM_VERSION: 8.10.2
  NODE_VERSION: 20.*
  GIT_HASH: ${{ github.sha }}
  RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}
  NEXT_PUBLIC_UMAMI_WEBSITE_ID: ${{ secrets.NEXT_PUBLIC_UMAMI_WEBSITE_ID }}
  NEXT_PUBLIC_UMAMI_URL: ${{ secrets.NEXT_PUBLIC_UMAMI_URL }}
  UMAMI_DB_URL: ${{ secrets.UMAMI_DB_URL }}
  UMAMI_EDGE_DB_URL: ${{ secrets.UMAMI_EDGE_DB_URL }}
  NEXT_PUBLIC_GISCUS_REPO_ID: ${{ secrets.NEXT_PUBLIC_GISCUS_REPO_ID }}
  NEXT_PUBLIC_GISCUS_CATEGORY_ID: ${{ secrets.NEXT_PUBLIC_GISCUS_CATEGORY_ID }}
  REDIS_URL: ${{ secrets.REDIS_URL }}
  UPSTASH_TOKEN: ${{ secrets.UPSTASH_TOKEN }}
  NODE_ENV: test
  AUTH_SECRET: ${{ secrets.AUTH_SECRET }}
  AUTH_URL: http://localhost:8080
  DATABASE_URL: ${{ secrets.DATABASE_URL }}
  BETA_DATABASE_URL: ${{ secrets.BETA_DATABASE_URL }}
  ADMIN_ID: ${{ secrets.ADMIN_ID }}
  BETA_ADMIN_ID: ${{ secrets.BETA_ADMIN_ID }}
  GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
  GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
  NEXT_PUBLIC_ENV: beta

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    if: ${{ contains(github.event.pull_request.labels.*.name, 'www:docker') || contains(github.event.pull_request.labels.*.name, 'www:enhancement') }}

    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ env.DOCKERHUB_TOKEN }}
      -
        name: Set up Docker Builder
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./apps/www/Dockerfile
          push: false
          load: false
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/chia1104-www:${{ env.GIT_HASH }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            GH_PUBLIC_TOKEenv.GH_PUBLIC_TOKEN }}
            NEXT_PUBLIC_RE_CAPTCHA_KEY=${{ env.NEXT_PUBLIC_RE_CAPTCHA_KEY }}
            GOOGLE_API_KEY=${{ env.GOOGLE_API_KEY }}
            SPOTIFY_CLIENT_ID=${{ env.SPOTIFY_CLIENT_ID }}
            SPOTIFY_CLIENT_SECRET=${{ env.SPOTIFY_CLIENT_SECRET }}
            SPOTIFY_FAVORITE_PLAYLIST_ID=${{ env.SPOTIFY_FAVORITE_PLAYLIST_ID }}
            TURBO_TEAM=${{ env.TURBO_TEAM }}
            TURBO_TOKEN=${{ env.TURBO_TOKEN }}
            SHA_256_HASH=${{ env.SHA_256_HASH }}
            RESEND_API_KEY=${{ env.RESEND_API_KEY }}
            NEXT_PUBLIC_UMAMI_WEBSITE_ID=${{ env.NEXT_PUBLIC_UMAMI_WEBSITE_ID }}
            NEXT_PUBLIC_UMAMI_URL=${{ env.NEXT_PUBLIC_UMAMI_URL }}
            NEXT_PUBLIC_GISCUS_REPO_ID=${{ env.NEXT_PUBLIC_GISCUS_REPO_ID }}
            NEXT_PUBLIC_GISCUS_CATEGORY_ID=${{ env.NEXT_PUBLIC_GISCUS_CATEGORY_ID }}
            REDIS_URL=${{ env.REDIS_URL }}
            UPSTASH_TOKEN=${{ env.UPSTASH_TOKEN }}
            RE_CAPTCHA_KEY=${{ env.RE_CAPTCHA_KEY }}
            AUTH_SECRET=${{ env.AUTH_SECRET }}
            AUTH_URL=${{ env.AUTH_URL }}
            DATABASE_URL=${{ env.DATABASE_URL }}
            BETA_DATABASE_URL=${{ env.BETA_DATABASE_URL }}
            ADMIN_ID=${{ env.ADMIN_ID }}
            BETA_ADMIN_ID=${{ env.BETA_ADMIN_ID }}
            GOOGLE_CLIENT_ID=${{ env.GOOGLE_CLIENT_ID }}
            GOOGLE_CLIENT_SECRET=${{ env.GOOGLE_CLIENT_SECRET }}
            NEXT_PUBLIC_ENV=${{ env.NEXT_PUBLIC_ENV }}
