{
    admin off # theres no need for the admin api in railway's environment
	persist_config off # storage isn't persistent anyway
	auto_https off # railway handles https for us, this could in some cases cause issues if left enabled
	# runtime logs
	log {
		format json # set runtime log format to json mode 
	}
	# server options
	servers {
		trusted_proxies static private_ranges # trust railway's proxy
	}
}

:{$PORT} {
    # access logs
	log {
		format json # set access log format to json mode
	}
    
    request_body {
        max_size 15MB
    }

    handle /api/v1* {
        reverse_proxy service:8080 {
            header_up Host {host}
            header_up X-Forwarded-For {remote_host}
            header_up X-Forwarded-Proto {scheme}

            transport http {
                versions 1.1
                read_timeout  3600s
                write_timeout 3600s
            }

            flush_interval -1
        }
    }

    handle /robots.txt {
        header Content-Type text/plain
        respond "User-agent: *\nDisallow: /\n" 200
    }

    handle /health {
        header Content-Type text/plain
        respond "ok" 200
    }

    @root path /
    redir @root https://chia1104.dev 301
}